.section {
  width: 480px;
  height: fit-content;
  margin: 180px auto 0;
}

.navLinkActive {
  color: white;
  background-color:#9a9ac72a;
}

.error {
  font-size: 16px;
  line-height: 16px;
  color: red;
}