.ingredientCart {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.image{
  width: 480px;
  align-self: center;
}

.name{
  text-align: center;
}

.details{
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;

}

.details > li {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.details > li > span {
  align-self: center;
}