.item {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 568px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.borderItem {
  margin-left: 8px;
}

.bottomBun > span > img {
  transform: rotate(180deg);
}