.section {
  width: 600px;
}

.categories {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ingridients {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  max-height: calc(100vh - 280px);
  min-height: 280px;
  max-width: 100%;
}

.ingridientsCatList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ingridientsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}